* {
    box-sizing: border-box;
    font-family: Verdana;
}

::placeholder{
    font-style: italic;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=text]:focus, textarea:focus{
    outline: 1px solid ;
}

input[type=submit] {
    outline: none;
    background-color: rgb(75, 200, 200);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
    border: 1px solid rgb(75, 200, 200);
}

.textarea{
    height: 200px;
}

.container {
    width: 60%;
    margin-left: 20%;
    margin-top: 100px;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.2);
    padding: 20px;
}

.input {
    float: left;
    width: 100%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {

    .container{
        width: 100%;
        margin-left: 0;
    }
}
