* {
    margin: 0;
    font-family: Verdana;
}

/* Header */
.navwrapper {
    height: 50px;
    background-color: white;
}

.headerlogo {
    background-color: #E01121;
    height:50px;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
}

#headerknowitall {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
}

.usericon {
    width:35px;
    height: 35px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.navitems {
    height: 50px;
    position: absolute;
    right: 50px;
    top: 0;
}

.navitems ul a {
    float: left;
    color: #E01121;
    text-decoration: none;
    list-style: none;
    font-size: 1.5vw;
    margin-top: 10px;
    margin-left: 15px;
}

.navitems ul:hover {
    color: #f35966;
}

.active {
    background-color: #E01121;
    color: white;
}
/*Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color: white;
    color: #E01121;
    text-align: center;
    font-family: Verdana;
}

#footertext{
    margin: 3px;
}

/* Social Media Buttons  */
.smediabutton {
    width: 25%;
    height: 25%;
}

.smediabuttons {
    position: absolute;
    width: 10%;
    right: 0;
    top: 0;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}