*{
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background: url('../img/achrive.jpg') no-repeat center center fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
}

#feitjeindex{
    border-radius: 10px;
    margin-top: 20px;
    background-color: #dcd6d698;
    width: 60%;
    margin-left: 18%;
    text-align: center;
    font-size: 25px;
}

.weetje_title{
    color: white;
    background: red;
    border-radius: 5px;
    font-size: 2rem;
}

.weetje{
    padding: 2%;
    margin-top: 10px;
}

.info{
    font-size: 50%;
    padding: 2%;
}


.container {
    width: 60%;
    margin-left: 17%;
    margin-top: 100px;
    border-radius: 5px;
    background-color: #dcd6d698;
    padding: 20px;
    font-family: Verdana, Geneva, sans-serif;
}

::placeholder{
    font-style: italic;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: 0 0;
}

.formtitle{
    margin-left: 10%;
}

input[type=date]{
    width: 80%;
    margin-left: 10%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    opacity: 0.9;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: 0 0;
}
input[type=submit] {
    margin-top: 10px;
    margin-left: 10%;
    outline: none;
    background-color: rgb(75, 200, 200);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


/* Header */
.navwrapper {
    height: 60px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.6);
    text-shadow: 1px 1px black;
}

.headerlogo {
    background-color: #E01121;
    width: 20%;
    padding-top: 12px;
    height: calc(100% - 12px);
    float: left;
}

#headerknowitall {
    color: white;
    font-size: 25px;
    text-align: center;
    height: 100%;
}

.navitems ul a {
    color: #E01121;
    text-decoration: none;
    list-style: none;
    font-size: 1.5vw;
    padding-left: 20px;
    float: left;
}

.navitems ul{
    padding-top: 15px;
    padding-left: 60%;
}

.navitems ul li{
    text-align: right;
    display: inline;
}

.active {
    text-decoration: underline;
}
footer {
    margin-bottom: 0;
    margin-top: 30%;
    height: 30%;
    width: 100%;
    background:rgba(242, 242, 242, 0.4);
    color:black;
    text-shadow: 1px 1px aliceblue;
    text-align: center;
    padding-top: 10px;
}

#footertext{
    margin-top:10px;
    font-weight: bold;
}

/* Social Media Buttons  */
.smediabutton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px black;
}
.smediabutton:hover{
    animation-name: Rotate;
    animation-duration: 1s;
}

@keyframes Rotate {
    from {transform: rotate(0deg);  width: 50px;
        height: 50px;}
    to {transform: rotate(360deg);}
}

.smediabuttons {
    width: 95%;
    text-align: right;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    .weetje{
        font-size: 30px;
    }
    .info{
        font-size: 70%;
    }
    .container{
        width: 80%;
        margin-left: 8%;
        margin-top: 250px;
    }

    #feitjeindex {
        width: 90%;
        font-size: 40px;
        margin-left: 5%;
    }
    .weetje_title {
        font-size: 40px;
    }
    .headerlogo{
        width: 100%;
    }
    .navitems div{
        width: 100%;
    }

    .navitems ul{
        width: 100%;
        padding-left: 0;
        text-align: center;
        background-color: rgba(242, 242, 242, 0.6);
    }
    .navitems ul a {
        padding: 0;
        width: 100%;
        float: none;
        font-size: 3vw;
    }
}

@media screen and (max-width: 780px) {
    .info{
        font-size: 55%;
    }


    input[type=date]{
        width: 45%;
    }
    .navitems ul a {
        font-size: 5vw;
    }
    .container{
        margin-left: 6%;
        margin-top: 300px;
    }
}
/* 500px */
@media screen and (max-width: 500px) {
    .navitems ul a {
        font-size: 8vw;
    }
    .info{
        font-size: 40%;
    }
    .weetje{
        font-style: 25px;
    }
}