* {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

body{
    background: url("../img/backgroundword2.jpg")no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
.infoA:hover{

    cursor: pointer;
    font-weight: bold;


}.infoA{

    text-shadow: 1px 1px black;

 }

::placeholder{
    font-style: italic;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: 0 0;
}

#feitjeindex{
    border-radius: 10px;
    margin-top: 20px;
    background-color: #dcd6d694;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 25px;
}
#gebruikerlijst{
    border-radius: 10px;
    margin-top: 20px;
    background-color: #dcd6d694;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 25px;
}

#weetje {
    border-radius: 10px;
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 25px;
}

.weetje_title{
    color: white;
    background: red;
    border-radius: 5px;
    font-size: 2rem;
}

.formtitle{
    margin-left: 10%;
    margin-bottom: 30px;
}

.filetitle{
    margin-left: 10%;
    margin-top: 8px;
}

.logintitle{
    margin-left: 8%;
    margin-bottom: 30px;
}

.logouttitle{
    margin-left: 31%;
    margin-bottom: 30px;
}

.delete, .modify{
    width: 8%;
    margin: 10px;
}

.aanmelden{
    margin-top: 10px;
    margin-left: 40%;
    outline: none;
    background-color: white;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: black;
    font-size: 16px;
    display: inline-block;
}

.aanmelden:hover {
    text-decoration: underline;
}

input[type=text], textarea, input[type=date]{
    width: 80%;
    margin-left: 10%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    opacity: 0.9;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: 0 0;
}

input[type=file]{
    width: 80%;
    margin-left: 10%;
    padding: 12px;
    outline: none;
    color: black;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}

input[type=text]:focus, textarea:focus{
    outline: 1px solid;
}

input[type=submit]{
    margin-left: 10%;
    margin-top: 10px;
    outline: none;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    text-decoration: underline;
    color: black;
}

.textarea{
    height: 150px;
}

.weetjearea{
    height: 30px;
}


.container {
    width: 60%;
    margin-left: 17%;
    margin-top: 120px;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.6);
    padding: 20px;
    font-family: Verdana, Geneva, sans-serif;
}

.input {
    float: left;
    width: 100%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
.navwrapper {
    height: 60px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.6);
    text-shadow: 1px 1px black;
}

.headerlogo {
    background-color: #E01121;
    width: 20%;
    padding-top: 12px;
    height: calc(100% - 12px);
    float: left;
}

#headerknowitall {
    color: white;
    font-size: 25px;
    text-align: center;
    height: 100%;
}

.navitems ul a {
    color: #E01121;
    text-decoration: none;
    list-style: none;
    font-size: 1.5vw;
    padding-left: 20px;
    float: left;
}

.navitems ul{
    padding-top: 15px;
    padding-left: 60%;
}

.navitems ul li{
    text-align: right;
    display: inline;
}

.active {
    text-decoration: underline;
}
footer {
    margin-bottom: 0;
    margin-top: 30%;
    height: 30%;
    width: 100%;
    background:rgba(242, 242, 242, 0.4);
    color:black;
    text-shadow: 1px 1px aliceblue;
    text-align: center;
    padding-top: 10px;
}

#footertext{
    margin-top:10px;
    font-weight: bold;
}

/* Social Media Buttons  */
.smediabutton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px black;
}
.smediabutton:hover{
    animation-name: Rotate;
    animation-duration: 1s;
}

@keyframes Rotate {
    from {transform: rotate(0deg);  width: 50px;
        height: 50px;}
    to {transform: rotate(360deg);}
}

.smediabuttons {
    width: 95%;
    text-align: right;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    .logintitle{
        margin-left: 8%;
    }

    #feitjeindex{
        margin-top: 300px;
    }

    .delete, .modify{
        width: 6%;
    }

    input[type=text], textarea, input[type=submit], input[type=date] {
        margin-left: 8%;
    }

    .container{
        width: 80%;
        margin-left: 8%;
        margin-top: 250px;
    }
    #gebruikerlijst{
        margin-top: 220px;
        width: 90%;
        font-size: 20px;
        margin-left: 5%;
    }

    #weetje {
        width: 90%;
        font-size: 20px;
        margin-left: 5%;
    }
    #feitjeindex {
        width: 90%;
        font-size: 40px;
        margin-left: 5%;
    }
    .weetje_title {
        font-size: 40px;
    }
    .headerlogo{
        width: 100%;
    }
    .navitems div{
        width: 100%;
    }

    .navitems ul{
        width: 100%;
        padding-left: 0;
        text-align: center;
        background-color: rgba(242, 242, 242, 0.6);
    }
    .navitems ul a {
        padding: 0;
        width: 100%;
        float: none;
        font-size: 3vw;
    }
}

@media screen and (max-width: 780px) {
    .delete, .modify{
        width: 15%;
    }
    .logintitle{
        margin-left: 5%;
    }
    .aanmelden{
        margin-left: 40%;
    }

    .logouttitle{
        margin-left: 25%;
    }

    input[type=text], textarea, input[type=date],input[type=submit]{
        margin-left: 5%;
    }
    .navitems ul a {
        font-size: 5vw;
    }
    .container{
        margin-left: 6%;
        margin-top: 300px;
    }
}

@media screen and (max-width: 600px) {
    .aanmelden{
        margin-left: 40%;
    }
    .logouttitle{
        margin-left: 18%;
    }
}

@media screen and (max-width: 500px) {
    .navitems ul a {
        font-size: 8vw;
    }
    .aanmelden{
        margin-left: 35%;
    }
}

@media screen and (max-width: 455px) {
    .container{
        margin-left: 4%;
    }
    .aanmelden{
        margin-left: 30%;
    }
    .logouttitle{
        margin-left: 27%;
    }
}


.lijntje{
    margin-top: 10px;

}

.imgaanpassen{
    width: 48px;
    height: auto;
}

#succesh1{
    text-align: center;
    margin-left: -5px;
    font-size: 40px;
    color: darkgreen;
}

#succesterug{
    text-align: center;
  margin-left: 44%;
}