
*{
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('../img/backgroundword2.jpg') no-repeat center center fixed;
    background-size: cover;
}

a{
    text-decoration: none;
}

::placeholder{
    font-style: italic;
}

.logouttitle{
    margin-left: 2%;
    margin-bottom: 30px;
    text-align: center;
}

.email{
    text-align: center;
}

.aanmelden{
    margin-top: 10px;
    margin-left: 1%;
    outline: none;
    background-color: white;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: black;
    font-size: 16px;
    display: inline-block;
}

.logout{
    margin-left: 43%;
}

.formtitle{
    margin-left: 10%;
}

.foutmelding{
    margin-left: 10%;
    color: red;
}

input[type=email], input[type=password]{
    width: 80%;
    margin-left: 10%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    opacity: 0.9;
    font-family: Verdana, Geneva, sans-serif;
}

input[type=text]:focus, textarea:focus{
    outline: 1px solid ;
}

input[type=submit]{
    margin-top: 10px;
    margin-left: 10%;
    outline: none;
    background-color: white;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 16px;
}

input[type=submit]:hover, input[type=reset]:hover, .aanmelden:hover, .logout:hover {
    text-decoration: underline;
}

.textarea{
    height: 200px;
}

.container {
    width: 60%;
    margin-left: 17%;
    margin-top: 150px;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.6);
    padding: 20px;
}

.input {
    float: left;
    width: 100%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
.navwrapper {
    height: 60px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.6);
    text-shadow: 1px 1px black;
}

.headerlogo {
    background-color: #E01121;
    width: 20%;
    padding-top: 12px;
    height: calc(100% - 12px);
    float: left;
}

#headerknowitall {
    color: white;
    font-size: 25px;
    text-align: center;
    height: 100%;
}

.navitems ul a {
    color: #E01121;
    text-decoration: none;
    list-style: none;
    font-size: 1.5vw;
    padding-left: 20px;
    float: left;
}

.navitems ul{
    padding-top: 15px;
    padding-left: 60%;
}

.navitems ul li{
    text-align: right;
    display: inline;
}

.active {
    text-decoration: underline;
}
footer {
    margin-bottom: 0;
    margin-top: 30%;
    height: 30%;
    width: 100%;
    background:rgba(242, 242, 242, 0.4);
    color:black;
    text-shadow: 1px 1px aliceblue;
    text-align: center;
    padding-top: 10px;
}

#footertext{
    margin-top:10px;
    font-weight: bold;
}

/* Social Media Buttons  */
.smediabutton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px black;
}
.smediabutton:hover{
    animation-name: Rotate;
    animation-duration: 1s;
}

@keyframes Rotate {
    from {transform: rotate(0deg);  width: 50px;
        height: 50px;}
    to {transform: rotate(360deg);}
}

.smediabuttons {
    width: 95%;
    text-align: right;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    .container{
        width: 80%;
        margin-left: 8%;
        margin-top: 250px;
    }

    #feitjeindex {
        width: 90%;
        font-size: 40px;
        margin-left: 5%;
    }
    .weetje_title {
        font-size: 40px;
    }
    .headerlogo{
        width: 100%;
    }
    .navitems div{
        width: 100%;
    }

    .navitems ul{
        width: 100%;
        padding-left: 0;
        text-align: center;
        background-color: rgba(242, 242, 242, 0.6);
    }
    .navitems ul a {
        padding: 0;
        width: 100%;
        float: none;
        font-size: 3vw;
    }
}

@media screen and (max-width: 780px) {
    .logouttitle{
        margin-bottom: 30px;
    }

    .navitems ul a {
        font-size: 5vw;
    }
    .container{
        margin-left: 4.5%;
        margin-top: 300px;
    }
}

@media screen and (max-width: 550px) {
    .logouttitle{
        margin-bottom: 30px;
    }

    .logout{
        margin-left: 38%;
    }

    .navitems ul a {
        font-size: 8vw;
    }
}



@media screen and (max-width: 500px) {
    .navitems ul a {
        font-size: 8vw;
    }
    .logouttitle{
        margin-bottom: 30px;
    }

    .logout{
        margin-left: 32%;
    }
}

#foutwachtwoord{
    color: red;
    text-align: center;
    display: inline;

}