*{
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('../img/overons.jpg') no-repeat center center fixed;
    background-size: cover;
}

.contactlink{
    text-decoration: underline;
    color: black;
}

/* Header */
.navwrapper {
    height: 60px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.6);
    text-shadow: 1px 1px black;
}

.headerlogo {
    background-color: #E01121;
    width: 20%;
    padding-top: 12px;
    height: calc(100% - 12px);
    float: left;
}

#headerknowitall {
    color: white;
    font-size: 25px;
    text-align: center;
    height: 100%;
}

.navitems ul a {
    color: #E01121;
    text-decoration: none;
    list-style: none;
    font-size: 1.5vw;
    padding-left: 20px;
    float: left;
}

.navitems ul{
    padding-top: 15px;
    padding-left: 60%;
}

.navitems ul li{
    text-align: right;
    display: inline;
}

.active {
    text-decoration: underline;
}
footer {
    margin-bottom: 0;
    margin-top: 20%;
    height: 30%;
    width: 100%;
    background:rgba(242, 242, 242, 0.4);
    color:black;
    text-shadow: 1px 1px aliceblue;
    text-align: center;
    padding-top: 10px;
}

#footertext{
    margin-top:10px;
    font-weight: bold;
}

/* Social Media Buttons  */
.smediabutton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px black;
}
.smediabutton:hover{
    animation-name: Rotate;
    animation-duration: 1s;
}

@keyframes Rotate {
    from {transform: rotate(0deg);  width: 50px;
        height: 50px;}
    to {transform: rotate(360deg);}
}

.smediabuttons {
    width: 95%;
    text-align: right;
}


/* over ons box*/
.textdiv{
	border-radius: 5px;
    border-width:2px;
    border-style:solid;
    border-color:white;
    background-color: white;
    opacity: 1;
    width: 700px;
    margin-left: 25%;
    text-align: center;
	margin-top: -5px;
       }
.overonsdiv{
    border-radius: 10px;
    box-shadow: 5px 5px rgba(10,10,10,0.8);
    margin-top: 170px;
    background-color: #dcd6d694;
    margin-left: 50px;
    width: 700px;
    color: black    ;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, sans-serif;
   /* max-width: 700px;
    max-height: 380px;
        overflow-x: auto;*/
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
#title_overons{
    color: white;
    background: red;
    border-radius: 5px;
    font-size: 2rem;
}

#meerlezen{
    margin-top: 20px;
    color: black;
    background-color: rgba(242, 242, 242, 0.6);
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 5px;
    cursor: pointer;

}

/* Media Queries */

@media screen and (max-width: 1024px) {
    #feitjeindex {
        width: 90%;
        font-size: 40px;
        margin-left: 5%;
    }
    #title_overons {
        font-size: 40px;
    }
    .headerlogo{
        width: 100%;
    }
    .navitems div{
        width: 100%;
    }
    .overonsdiv{
        margin-top: 240px;
        margin-left: 40px;
        width: 90%;

    }
    .navitems ul{
        width: 100%;
        padding-left: 0;
        text-align: center;
        background-color: rgba(242, 242, 242, 0.6);
    }
    .navitems ul a {
        padding: 0;
        width: 100%;
        float: none;
        font-size: 3vw;
    }
}

@media screen and (max-width: 780px) {
    .navitems ul a {
        font-size: 5vw;
    }
    .overonsdiv{
        margin-top: 280px;
    }
}

@media screen and (max-width: 500px) {
    .navitems ul a {
        font-size: 8vw;
    }

    .overonsdiv{
        margin-top: 240px;
        margin-left: 20px;
    }
}