* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body{
    background: url("../../foto/backgroundword2.jpg")no-repeat center center fixed;
    background-size: cover;
}

::placeholder{
    font-style: italic;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    opacity: 0.9;
}

input[type=text]:focus, textarea:focus{
    outline: 1px solid ;
}

input[type=submit] {
    outline: none;
    background-color: rgb(75, 200, 200);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
    border: 1px solid rgb(75, 200, 200);
    box-sizing: border-box;
}

.textarea{
    height: 200px;
}

.container {
    width: 60%;
    margin-left: 20%;
    margin-top: 100px;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.6);
    padding: 20px;
}

.input {
    float: left;
    width: 100%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
.navwrapper {
    height: 50px;
    background-color: white;
}

.headerlogo {
    background-color: #E01121;
    height:50px;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
}

#headerknowitall {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
}

.usericon {
    width:35px;
    height: 35px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.navitems {
    height: 50px;
    position: absolute;
    right: 50px;
    top: 0;
}

.navitems ul a {
    float: left;
    color: #E01121;
    text-decoration: none;
    list-style: none;
    font-size: 1.5vw;
    margin-top: 10px;
    margin-left: 15px;
}

.navitems ul:hover {
    color: #f35966;
}

.active {
    background-color: #E01121;
    color: white;
}
/*Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color: white;
    color: #E01121;
    text-align: center;
    font-family: Verdana;
}

#footertext{
    margin: 3px;
}

/* Social Media Buttons  */
.smediabutton {
    width: 25%;
    height: 25%;
}

.smediabuttons {
    position: absolute;
    width: 10%;
    right: 0;
    top: 0;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {

    .container{
        width: 100%;
        margin-left: 0;
    }
}
