@font-face { font-family: Verdana; font-weight: bold; src: url('../../fonts/Verdana.ttf');}

*{
    margin: 0;
}

body{
    background-image:url('../../foto/auto/auto8.jpg');
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#feitjeindex{
    background-color: #dcd6d694;
    margin-top: 350px;
    margin-left: 50px;
    width: 45%;
    height: 10%;
    color: #ff2321;
    text-align: center;
    font-size: 40px;
    font-family: Verdana;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 470px) and (max-device-width : 550px) {
    body{
        background-repeat: no-repeat;
        background-position: 0px 80px;
    }
}


@media only screen and (min-width : 600px) and max-device-width: 880 {
    #feitjeindex{
        margin-top: 250px;
        margin-left: auto;
}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body{
        background-repeat: no-repeat;
        background-position: 0px 50px;
    }
}

/*Header en footer style*/


/* Header */
.navwrapper {
    height: 50px;
    background-color: white;
}

.headerlogo {
    background-color: #E01121;
    height:50px;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
}

#headerknowitall {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
}

.usericon {
    width:35px;
    height: 35px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.navitems {
    height: 50px;
    position: absolute;
    right: 50px;
    top: 0;
}

.navitems ul a {
    float: left;
    color: #E01121;
    text-decoration: none;
    list-style: none;
    font-size: 1.5vw;
    margin-top: 10px;
    margin-left: 15px;
}

.navitems ul:hover {
    color: #f35966;
}

.active {
    background-color: #E01121;
    color: white;
}
/*Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color: white;
    color: #E01121;
    text-align: center;
    font-family: Verdana;
}

#footertext{
    margin: 3px;
}

/* Social Media Buttons  */
.smediabutton {
    width: 25%;
    height: 25%;
}

.smediabuttons {
    position: absolute;
    width: 10%;
    right: 0;
    top: 10px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}
