* {
    margin: 0;
    font-family: Verdana;
}

/* Header */
.navwrapper {
    height: 50px;
    background-color: white;
}

.headerlogo {
    background-color: #E01121;
    height:50px;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
}

#headerknowitall {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
}

.usericon {
    width:35px;
    height: 35px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.navitems {
    height: 50px;
    position: absolute;
    right: 50px;
    top: 0;
}

.navitems ul a {
    float: left;
    color: #E01121;
    text-decoration: none;
    list-style: none;
    font-size: 1.5vw;
    margin-top: 10px;
    margin-left: 15px;
}

.navitems ul:hover {
    color: #f35966;
}

.active {
    background-color: #E01121;
    color: white;
}

/* Body */
body {
    background-image: url("../img/vliegtuig2.jpg");
    background-position: center;
}

.datebox {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    width: 20%;
    height: 80px;
    margin-top: 35px;
}

.datebox h2 {
    text-align: center;
    color: #E01121;
}

.datebox input {
    text-align: center;
    margin-left: 17px;
}

/*Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color: white;
    color: #E01121;
    text-align: center;
}

#footertext{
    margin: 3px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}